
/*Template Name: Crossway - Startup Landing Page Template
Theme URL: http://themeforest.net/user/DSA79/
Description: Crossway - Startup Landing Page Template
Author: DSA79
Author URL: http://themeforest.net/user/DSA79
Version: 1.1.0
Website: www.dsathemes.com
Tags: responsive, html5 template, one page, landing, startup, business, company, corporate, creative
*/



/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*   01 - General & Basic Styles   */
/*   02 - Header & Navigation      */
/*   03 - Intro      			   */
/*   04 - About        			   */
/*   05 - Features                 */
/*   06 - FAQs		               */
/*   07 - Clients                  */
/*   08 - Call to Action           */
/*   09 - Footer         		   */
/*   10 - Scroll to Top	   		   */
/*   11 - Contact Form Response    */



/* ==========================================================================
   01. GENERAL & BASIC STYLES
   ========================================================================== */

/*------------------------------------------*/
/*	 Preload Animation
/*------------------------------------------*/

#preloader{
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:99999;
	background-color:#fff;
}

#status{
	position:absolute;
	top:50%;
	left:50%;
	margin:-100px 0 0 -100px;
	width:200px;
	height:200px;
	background-image:url(../img/icons/loader.gif);
	background-position:center;
	background-repeat:no-repeat;
	background-size:75px 75px;
}

#content-wrapper {
	margin-top: 65px;
}

/*------------------------------------------*/
/*	 Parallax Settings
/*------------------------------------------*/

.intro-parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
}

#intro {
	background-image: url(../img/parallax_bg/intro_bkg.jpg);
}

.parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#features {
	/*background-image: url(../img/parallax_bg/features_bkg.jpg); */
	background-image: url(../img/queremos.gif);
}

#call-to-action {
	background-image: url(../img/parallax_bg/call_to_action_bkg.jpg);
}

/*------------------------------------------*/
/*	 Headers
/*------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 10px;
}

/*------------------------------------------*/
/*	 Link Setting
/*------------------------------------------*/

a {
	text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

a:hover {
	color: #444;
	text-decoration: none;
}

a:focus {
	color: #f8f8f8;
	outline: none;
	border: none;
	text-decoration: none;
}

/*------------------------------------------*/
/*	 Lists
/*------------------------------------------*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: inside;
}
ul.assistants {
	list-style: initial;
	list-style-position: inside;
}

/*------------------------------------------*/
/*	 Section Titlebar
/*------------------------------------------*/

.titlebar {
	margin-bottom: 40px;
}

.titlebar h1 {
	color: #000;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 5px;
}

.titlebar p {
	color: #666;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}



/* ==========================================================================
   02. HEADER & NAVIGATION
   ========================================================================== */

/*------------------------------------------*/
/*	 Logo Image
/*------------------------------------------*/

.navbar-brand {
	padding: 15px 15px 10px;
}

/*------------------------------------------*/
/*	 Navigation Menu
/*------------------------------------------*/

.navbar {
	background-color: #f0f0f0;
	border-bottom: 1px solid #ddd;
}

.navbar-nav > li > a {
	color: #333;
    display: block;
	padding: 0 15px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 65px;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a.selected-nav {
	background: none;
	color: #428bca;
}

/*------------------------------------------*/
/*	 Responsive Menu
/*------------------------------------------*/

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
	margin: 12px 30px 12px 0;
    background-color: none;
	border: 2px solid #444;
}

.navbar-toggle .icon-bar {
	background-color: #444;
	height: 2px;
}



/* ==========================================================================
   03. INTRO
   ========================================================================== */

#intro {
	/*padding-top: 80px;*/
	/*padding-bottom: 80px;*/
	color: #fff;
}

/*------------------------------------------*/
/*	  Intro Section Description
/*------------------------------------------*/

#intro_description h1 {
	padding-top: 80px; /*Added*/
	font-size: 40px;
	margin-bottom: 30px;
}

.intro_feature {
	margin-bottom: 20px;
	background: rgba(12,12,12,.8);
    padding: 10px;
    border-radius: 5px;
}

.intro_feature h4 {
	font-weight: 600;
}

.intro_feature i {
	margin-right: 5px;
}

.intro_feature p {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/*padding-left: 25px;*/
}
.intro_feature a {
	color: #fff;
	text-decoration: underline;
}

/*------------------------------------------*/
/*	  Intro Section Button
/*------------------------------------------*/

.intro_button {
	margin-top: 60px;
}

/*------------------------------------------*/
/*	  Register Form
/*------------------------------------------*/

#intro_form {
	padding-left: 100px;
	padding-top: 150px; /*Added*/
}

.form_register {
	width: 100%;
	background: rgba(120, 120, 120, 0.45);
	margin: 0 auto;
    padding: 20px 20px 25px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form_register h2 {
	color: #fff;
    text-align: center;
    line-height: 30px;
	font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.form_register p {
	color: #fff;
    text-align: center;
}
.form_register p a {
	color: #fff;
	text-decoration: underline;
}
/*------------------------------------------*/
/*	  Register Form Input
/*------------------------------------------*/

.form_register .form-control {
	height: 46px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input[type="text"],
input[type="email"],
textarea {
	color: #444;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.form_register textarea {
	min-height:140px;
}

/*------------------------------------------*/
/*	   Register Form Error Message
/*------------------------------------------*/

.error {
	color: #fc0000;
	font-size: 13px;
	margin-bottom: 20px;
}



/* ==========================================================================
   04. ABOUT
   ========================================================================== */

#about-1 {
	padding-top: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

#about-2 {
	padding-top: 70px;
	padding-bottom: 80px;
}

#about-1 .titlebar {
	margin-bottom: 30px;
}

#about-1 h4, #about-2 h4  {
	font-weight: 600;
	margin-bottom: 15px;
}

/*------------------------------------------*/
/*	  About-1 Text
/*------------------------------------------*/

#about-1-text {
	padding-right: 35px;
}

/*------------------------------------------*/
/*	  Accordion
/*------------------------------------------*/

#accordion_holder {
	margin-top: 40px;
}

.accordion {
	margin-bottom: 40px;
}

#text_1,
#text_2,
#text_3,
#text_4 {
	width: 100%;
	display: block;
	float: left;
	padding: 0;
	margin: 3px 0;
	cursor: pointer;
}

.accordion a {
	color: #666;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 26px;
	padding: 10px 40px 10px 15px;
	text-decoration: none;
	display: block;
	cursor: pointer;
	background: rgba(170, 170, 170, 0.15) url(../img/icons/open.png) no-repeat center right;
}

.accordion li.active>a {
	background: rgba(170, 170, 170, 0.15) url(../img/icons/close.png) no-repeat center right;
	color: #151515;
	box-shadow: none;
}

/*------------------------------------------*/
/*	  Accordion Answer
/*------------------------------------------*/

.accordion li div {
	background: #fff;
	line-height: 22px;
	padding: 10px 10px;
	margin-bottom: 5px;
	display: block;
	clear: both;
	float: left;
}

/*------------------------------------------*/
/*	 Video Holder
/*------------------------------------------*/

#video_holder p {
	margin-bottom: 30px;
}

/*------------------------------------------*/
/*	  Video Content Settings
/*------------------------------------------*/

.video-block {
	position: relative;
	padding-bottom: 54.25%;
	padding-top: 20px;
	margin-top: 20px;
	height: 0;
	overflow: hidden;
}

.video-block iframe,
.video-block object,
.video-block embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0;
}

/*------------------------------------------*/
/*	 About-2 Text
/*------------------------------------------*/

#about-2-text {
	padding-left: 60px;
}

/*------------------------------------------*/
/*	  Quote
/*------------------------------------------*/

#quote_holder {
	margin-top: 40px;
}

.quote-text {
	background: rgba(170, 170, 170, 0.15);
    border-left: none;
    color: rgba(85, 94, 106, 0.8);
    font-style: italic;
    line-height: 25px;
    margin: 0 0 30px 0;
    padding: 26px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 rgba(182, 196, 209, 0.3);
    -moz-box-shadow: 0 3px 0 rgba(182, 196, 209, 0.3);
    box-shadow: 0 3px 0 rgba(182, 196, 209, 0.3);
}

.quote-text:before {
    border: 14px solid transparent;
    z-index: 3;
    border-top-color: #f2f2f2;
    top: auto;
    right: auto;
    bottom: -28px;
    left: 30px;
}

.quote-text:after {
    border: solid 14px transparent;
    z-index: 2;
    border-width: 18px;
    border-top-color: rgba(182, 196, 209, 0.3);
    top: auto;
    right: auto;
    bottom: -36px;
    left: 26px;
}

.quote-text:before,
.quote-text:after,
.quote-text-up:before,
.quote-text-up:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
}

.quote-text a {
    color: #8c989e;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.quote-text a:hover {
    text-decoration: none;
}

.flexslider .slides img {
	float: left;
    margin-right: 15px;
    margin-left: 6px;
    width: 75px;
	box-shadow: 0 0 5px rgba(140, 140, 140, 0.8);
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-radius: 1000px;
}

.quote-author {
    display: inline-block;
    font-size: 13px !important;
    line-height: 65px !important;
}



/* ==========================================================================
   05. FEATURES
   ========================================================================== */

#features {
	padding-top: 60px;
	padding-bottom: 30px;
}

/*------------------------------------------*/
/*	  Feature Box
/*------------------------------------------*/

.feature-box {
	margin-bottom: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

/*------------------------------------------*/
/*	  Feature Box Icon
/*------------------------------------------*/

.feature-box-icon {
    background-color: #666;
    background-color: #D75D71;
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 10px;
    border-radius: 30px;
    color: #FFF;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
}

/*------------------------------------------*/
/*	  Feature Box Content
/*------------------------------------------*/

.feature-box-content {
	padding-left: 70px;
}

.feature-box-content h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}



/* ==========================================================================
   06. FAQs
   ========================================================================== */

#faq {
	padding-top: 60px;
	padding-bottom: 50px;
}

/*------------------------------------------*/
/*	  FAQs Titlebar
/*------------------------------------------*/

#faq .titlebar {
	margin-bottom: 30px;
}

/*------------------------------------------*/
/*	  FAQs Question
/*------------------------------------------*/

.question {
	margin-bottom: 20px;
}

.question h4 {
	font-weight: 600;
}

.question p {
	color: #666;
	font-family: 'Lato', sans-serif;
}



/* ==========================================================================
   07. CLIENTS
   ========================================================================== */


#clients {
	padding-top: 60px;
	padding-bottom: 80px;
	border-top: 1px solid #ddd;
}

#clients-titlebar {
	position: relative;
}

/*------------------------------------------*/
/*	 Clients Carousel Navigation
/*------------------------------------------*/

.customNavigation {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 10px;
}

.customNavigation .btn {
	padding: 4px 10px;
}

.customNavigation i {
	font-size: 20px;
	color: #fff;
}



/* ==========================================================================
   08. CALL TO ACTION
   ========================================================================== */

#call-to-action {
	padding-top: 100px;
	padding-bottom: 100px;
}

#call-to-action h1 {
	color: #fff;
	font-size: 40px;
	font-weight: 300;
	padding: 0 15%;
	margin-bottom: 15px;
}

#call-to-action p {
	color: #fff;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding: 0 10%;
	margin-bottom: 30px;
}


/* ==========================================================================
   09. FOOTER
   ========================================================================== */

#footer {
	background-color: #1A1E23;
	padding: 60px 0 40px;
}

/*------------------------------------------*/
/*	 Footer Navigation Menu
/*------------------------------------------*/

.footer-nav li {
	float: left;
	padding: 5px 10px 10px;
}

.footer-nav li a {
	color: #999;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}

.footer-nav li a:hover {
	color: #428bca;
}

/*------------------------------------------*/
/*	 Footer Copy
/*------------------------------------------*/

#footer_copy p {
	color: #666;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	margin-left: 10px;
}

#footer_copy p span {
	color: #428bca;
}

/*------------------------------------------*/
/*	 Footer Social Icons
/*------------------------------------------*/

#footer_icons {
	margin:3px 0;
}

.footer-socials {
	display: inline-block;
}

.footer-socials li {
	float: left;
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
	line-height: 70px;
}

.foo_social {
    width: 40px;
    height: 40px;
	text-align: center;
	color: #1A1E23;
	font-size: 20px;
    line-height: 40px;
	margin: 0 5px;
	background-color: #999;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

/*------------------------------------------*/
/*	 Footer Icons Hover
/*------------------------------------------*/

.ico-facebook:hover {background-color: #3b5998;color: #f8f8f8;}
.ico-twitter:hover {background-color: #00a9ed;color: #f8f8f8;}
.ico-google-plus:hover {background-color: #cd1111;color: #f8f8f8;}
.ico-linkedin:hover {background-color: #015886;color: #f8f8f8;}
.ico-dribbble:hover {background-color: #d92d84;color: #f8f8f8;}
.ico-instagram:hover {background-color: #beb3a8;color: #f8f8f8;}
.ico-pinterest:hover {background-color: #ac281a;color: #f8f8f8;}
.ico-dropbox:hover {background-color: #008ad2;color: #f8f8f8;}
.ico-skype:hover {background-color: #00a9ed;color: #f8f8f8;}
.ico-youtube:hover {background-color: #cd1b20;color: #f8f8f8;}
.ico-tumblr:hover {background-color: #3a5976;color: #f8f8f8;}
.ico-vimeo:hover {background-color: #00adee;color: #f8f8f8;}
.ico-flickr:hover {background-color: #d2d2d2;color: #f8f8f8;}
.ico-github:hover {background-color: #222;color: #f8f8f8;}
.ico-renren:hover {background-color: #364a83;color: #f8f8f8;}
.ico-vk:hover {background-color: #3b5998;color: #f8f8f8;}
.ico-xing:hover {background-color: #015f5e;color: #f8f8f8;}
.ico-weibo:hover {background-color: #be4443;color: #f8f8f8;}
.ico-rss:hover {background-color: #ff6600;color: #f8f8f8;}

/*------------------------------------------*/
/*	 Footer Newsletter Form
/*------------------------------------------*/

.subscribe-form {
	margin: 5px auto 0;
    position: relative;
    z-index: 10;
	width: 90%;
}

#newsletter_form p {
	color: #666;
	font-size: 13px;
	line-height: 16px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top: 10px;
}

#newsletter_form p span {
	color: #428bca;
}

.subscribe-input {
	width: 68%;
    height: 30px;
	background-color: #aaa;
	color: #ddd;
	font-size: 14px;
    font-weight: 300;
	padding-left: 10px;
	border: none;
}

.subscribe-submit {
	width: 32%;
	height: 30px;
	background: #383e46;
    color: #fff;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-decoration:none;
	text-transform: uppercase;
	text-align:center;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    border:none;
    cursor: pointer;
    outline: 0;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.subscribe-submit:active {
    outline: 0;
}

.subscribe-submit:hover {
	background: #428bca;
}



/* ==========================================================================
   10. SCROLL TO TOP
   ========================================================================== */

#scrollUp {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-image: url(../img/icons/back-to-top.png);
	background-repeat: no-repeat;
	background-position: 50% 48%;
	background-color:rgba(123, 123, 123, 0.65);
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	transition: all 250ms linear;
}

#scrollUp:hover {
	background-color: rgba(66, 139, 202, 0.95);
}

nav a#pull {
    display: none;
}



/* ==========================================================================
   11. CONTACT FORM RESPONSE PAGE
   ========================================================================== */

#form_response {
	margin: 50px auto;
}

#form_response .img-responsive { display: inline-block; }

#form_response h1 {
	font-size: 40px;
	font-weight: 700;
	margin-top: 10px;
}

#form_response p {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-bottom: 20px;
}



#our-customers img.img-customer {
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);

	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
   transition: .5s ease-in-out;
}

#our-customers img.img-customer:hover {
	  -webkit-filter: grayscale(0%);
	  -moz-filter: grayscale(0%);
	  -o-filter: grayscale(0%);
    filter: grayscale(0%);

    -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.super-logo {
	margin-top: -10px;
    height: 55px;
}
.navbar-brand {
	font-family: serif;
	font-size: 2em;
	color: #000;
}


.customNavigation {
	display: none;
}
